<div class="container">

    <div class="button-close" >
        <h1>Add details:</h1>
        <button mat-mini-fab matTooltip="Primary" color="primary" matDialogClose>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form class="form" [formGroup]="submitForm">
        <div class="form-subsection">
            <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput placeholder="enter task name" formControlName="nameForm" type="text">
                <mat-icon matSuffix>cases</mat-icon>
                <mat-error *ngIf="nameForm?.errors?.['required']">
                    name required
                </mat-error>
                <mat-error *ngIf="nameForm?.errors?.['minlength']">
                    name must be at least 5 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>comment</mat-label>
                <input matInput placeholder="short task description" formControlName="commentForm" type="text">
                <mat-icon matSuffix>comment</mat-icon>
                <mat-error *ngIf="commentForm?.errors?.['required']">
                    comment required
                </mat-error>
                <mat-error *ngIf="commentForm?.errors?.['minlength']">
                    comment must be at least 5 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field class="bottom-field">
                <mat-label>time in minutes</mat-label>
                <input matInput placeholder="enter estimated time" formControlName="timeForm" type="text">
                <mat-icon matSuffix>access_time_filled</mat-icon>
                <mat-error *ngIf="timeForm?.errors?.['required']">
                    time estimation required
                </mat-error>
                <mat-error *ngIf="timeForm?.errors?.['pattern']">
                    must be a valid number
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>custom logo</mat-label>
                <input matInput placeholder="image url" formControlName="imageForm" type="text">
                <mat-icon matSuffix>image</mat-icon>
            </mat-form-field>

        </div>

        <div class="form-subsection">
            <mat-card class="logo-card mat-elevation-z8">
                <mat-card-header>
                    <p class="logo-text">logo preview:</p>
                </mat-card-header>
                <mat-card-content ><!-- *ngIf="imageForm?.value && isUrlValid(imageForm?.value?.trim())" -->
                    <img [src]="isUrlValid(imageForm?.value?.trim())? imageForm?.value:defaultLogo" class="logo-preview">
                </mat-card-content>
            </mat-card>
        </div>
    </form>
    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="submit()">Save</button>
    </div>
</div>