

.table-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
}

.footer{
    height: 50px; bottom: 0;
  }

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled-row{
   /*  color: lightcoral; */
   color: rgb(150, 150, 150);
}

.email-link{
    text-decoration: none;
    color: rgb(82, 142, 202);
    
}

.disabled-link{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.inactive-filter{
    padding-left: 30px;
}

